.data-table {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(119, 119, 119, 0.411);
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  width: 60%;
}

.data-table h2 {
  color: rgb(187, 187, 187);
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

thead {
  background-color: rgba(31, 25, 47, 0.774);
  color: rgb(245, 245, 247);
}

th {
  border-left: 1px solid rgb(104, 113, 121);
  padding: 10px 5px;
}

th:nth-child( 1 ) {
  border-left: none;
  width: 180px;
}

td {
  border-left: 1px solid rgb(212, 212, 212);
  border-top: 1px solid rgb(212, 212, 212);
  padding: 10px 5px;
}

td:nth-child( 1 ) {
  border-left: none;
}

.delete_btn {
  background-color: rgb(147, 153, 155);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 8px;
}

.delete_btn:hover {
  background-color: rgba(103, 112, 116, 0.789);
}
