/* stylelint-disable max-line-length */
.loginPage_container {
  align-items: center;
  background: linear-gradient(120deg, rgb(101, 184, 166) 44.9%, rgb(255, 255, 251) 45%) no-repeat fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.images_container {
  box-sizing: border-box;
  padding: 25px;
  width: 600px;
}

.login_container {
  box-sizing: border-box;
  padding: 25px;
  width: 600px;
}

.login_form h1 {
  color: rgb(17, 36, 44);
}

.login_form label {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.login_form input {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

.login_form input:focus {
  outline: none;
}

.login_checkbox {
  align-items: center;
  display: flex;
  gap: 2px;
}

.login_checkbox label {
  font-size: 0.8rem;
}

.login_form button {
  background-color: rgb(45, 96, 115);
  border: none;
  border-radius: 5px;
  color: rgb(245, 245, 241);
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  margin-top: 10px;
  padding: 8px;
  transition: 0.5s background-color;
  width: 100%;
}

.login_form button:disabled {
  background-color: rgb(194, 194, 194);
}
